body {
    background-color: rgb(78, 207, 207);
}

.tempoTitulo {
    text-align: center;
    color: rgb(214, 0, 100);
}

.tempoForm {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tempoInput {
    font-size: 1em;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 10px;
    border-color: rgb(214, 0, 100);
}

.tempoButton {
    font-weight: 900;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(214, 0, 100);
    border-color: rgb(255, 0, 119);
    color: white
}

.tempoLista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

table,
tr,
td {
    border: 1px solid rgb(214, 0, 100);
    border-collapse: collapse;
    padding: 10px;
}

.tempoLista>table {
    width: 100%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.tempoInfo {
    color: rgb(214, 0, 100);
    font-weight: bolder;
}